/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2014, 11:12:48 AM
    Author     : raulr
*/
.box {
    margin: 5px;
    background: none repeat scroll 0% 0% rgb(0, 135, 137);
    float: left;
    color: rgb(255, 255, 255);
}

.box.col1-link {
    cursor: pointer;
}

.box.col2-link {
    cursor: pointer;
}

.col1 {
    width: 120px;
    height: 120px;
    font-size: 14px;
}

.col2 {
    width: 250px;
    height: 120px;
    position: relative;
    background-color: rgb(0, 114, 114);
}

.col5 {
    width: 380px;
    height: 120px;
    position: relative;
}

.stampcolor {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
    background-color: rgb(0,185,182);
}

.stampwhite {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);    
    color: black;
}

.stampblue {
    background-color: rgb(247, 247, 249);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
    color: rgb(0,185,182);
}

.stampyellow {
    background-color: rgb(246, 200, 116);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);    
    color: rgb(0,185,182);
}

.stampgreen {
    background-color: rgb(229, 238, 204);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);    
    color: rgb(0,185,182)    
}

.content-col1-center {
    width: 100px;
    padding: 50px 15px 0px;
    float: left;
}

.content-col2-center {
    width: 220px;
    padding: 35px 15px 0px;
    float: left;
}

.content-colauto {
    padding: 15px 15px 0px;
}

.content-col2 {
    width: 220px;
    padding: 15px 15px 0px;   
}

.content-col5 {
    width: 295px;
    position: absolute;
    top: 19px;
    left: 39px;
    color: rgb(0, 0, 0);
    white-space: normal !important;
    word-wrap: break-word !important;
}

.logo-col2 {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 0px;
}


