body {
  background-color: #f5f5f5;
  font-family:"Brandon Grot W01 Medium";
}

table {
  width: 100%;

  tr {
    border-top: 1px solid #f4f3e7;

    &:first-child {
      border-top: none;
    }

    td {
      height: 40px;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.btn {
  display: inline-block !important;
  border-radius: 0px;
  min-width: 10px;
  min-height: 10px;

  &.btn-aqua {
    background-color: #00b0b1;
    color: #FFF;
    transition: all 0.4s ease 0s;
    &:hover {
      background-color: #008586;
    }
  }
  &.btn-dark {
    background-color: #262626;
    color: #FFF;
    transition: all 0.4s ease 0s;
    &:hover {
      background-color: #403e3e;
    }
  }
}

#wrapper {
  padding-left: 240px;
  transition: all 0.4s ease 0s;
}
#page-content-wrapper {
  width: 100%;
}
.inset {
  padding: 20px;
}

#sidebar-wrapper {
  margin-left: -240px;
  left: 240px;
  width: 240px;
  background: #262626;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  .logo {
    display: block;
    width: 75px;
    height: 75px;
    background: url(../images/logo-white-trans.png) no-repeat;
    background-size: contain;
    margin: 52px auto;
  }

  .sidebar-nav {
    position: absolute;
    width: 240px;
    list-style: none;
    margin: 0;
    padding: 0;

    &.main-menu {
      top: 50%;
      margin-top: -115px;
      height: 160px;

      li {
        line-height: 40px;
        text-align: center;

        &.active a, &:hover a {
          color: #00b0b1;
        }

        a {
          transition: all 0.4s ease 0s;
          color: #FFF;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          font-family:"Brandon Grot W01 Bold";
          font-size: 14px;
          letter-spacing: 1px;

          &:hover, &:active, a:focus {
            text-decoration: none;
          }
        }
      }
    }

    &.user-menu {
      bottom: 0%;
      margin-bottom: 23px;

      li {
        line-height: 25px;
        text-align: center;

        &.active a, &:hover a {
          color: #00b0b1;
        }

        a {
          transition: all 0.4s ease 0s;
          color: #FFF;
          display: block;
          text-decoration: none;
          font-family:"Brandon Grot W01 Medium";
          font-size: 14px;

          &:hover, &:active, a:focus {
            text-decoration: none;
          }
        }
      }

      .btn {
        color: #FFF !important;
        width: 200px;
        height: 40px;
        line-height: 28px;
        margin-bottom: 22px;
        font-size: 16px;
      }
    }

    
  }
}

.dashboard {
  .widget {
    background-color: #FFF;
    margin-bottom: 22px;
    .title {
      background-color: #e9e5dd;
      width: 100%;
      min-height: 30px;
      color: #544c45;
      text-align: center;
      text-transform: uppercase;
      line-height: 30px;
      font-size: 10px;
      font-family: "Brandon Grot W01 Black";
    }
    .content {
      position: relative;
      height: 100%;
    }

    &.widget-balance {
      height: 134px;
      .content {
        .balance {
          position: absolute;
          left: 0px;
          top: 25px;
          font-family:"Brandon Grot W01 Medium";
          font-size: 40px;
          width: 100%;
          padding-right: 104px; 
          text-align: center;

          .count {
            display: inline-block;
          }

          .suffix {
            display: inline-block;
            font-size: 17px;
            line-height: 17px;
            width: 60px;
            text-align: left;
          }
        }

        .buy-more {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 104px;
          height: 104px;
          line-height: 92px;
          font-size: 16px;
          text-decoration: underline;
        }
      }
    }

    &.widget-activity {

      .content {
        padding: 15px;
        table {
          pointer-events: none;
          tr {
            td {
              span {
                display: block;
                font-size: 11px;
                color: #928e8b;
                margin-top: -3px;
              }
              &.type {
                i {
                  font-size: 10px;
                  color: #b5ad9d;
                }
              }
              &.transaction {
                width: 35px;
                color: #95bb42;
                font-size: 14px;
                text-align: right;
                &.neg {
                  color: #ee582e;
                }
              }
              &.date {
                width: 60px;
                color: #928e8b;
                font-size: 12px;
              }
              &.time {
                width: 40px;
                color: #928e8b;
                font-size: 12px;
              }
            }
          }
        }
      }
      .footer {
        .btn {
          width: 100%;
          height: 42px;
          line-height: 27px;
          text-transform: uppercase;
        }
      } 
    }

    &.widget-accounts {
      .content {
        padding: 15px;
        table {
          tr {
            background-color: #FFF;
            cursor: pointer;
            transition: all 0.4s ease 0s;
            &:hover {
              background-color: #fcfbfa;
            }
            td {
              padding: 10px;
              &.status {
                width: 30px;
                i {
                  font-size: 10px;
                  &.icon-ok {
                    color: #95bb42;
                  }
                  &.icon-cw {
                    color: #7f7f7f;
                  }
                }
              }
            }
          }
        }
      }
      .footer {
        .btn {
          width: 100%;
          height: 42px;
          line-height: 27px;
          text-transform: uppercase;
          i {
            color: #00b0b1 !important;
          }
        }
      }
    }

    &.widget-invitations {
      .content {
        padding: 15px;
        text-align: center;
        .subtitle {
          font-size: 15px;
          color: #625b53;
          font-family: "BrandonGrotW01-RegularI";
        }
        p {
          font-size: 30px;
          line-height: 30px;
          color: #3a3735;
          font-family:"Brandon Grot W01 Medium";
          span {
            font-size: 20px;
            line-height: 20px;
            color: #d3cbbc;
            font-family: "BrandonGrotW01-RegularI";
          }
        }
      }
      .footer {
        .btn {
          width: 100%;
          height: 42px;
          line-height: 27px;
          text-transform: uppercase;
        }
      } 
    }
  }
}




.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;

  .logo {
    width: 50px;
    height: 50px;
  }
}

#wrapper.active {
  position: relative;
  left: 240px;
}

#wrapper.active #sidebar-wrapper {
  left: 240px;
  width: 240px;
  transition: all 0.4s ease 0s;
}

.dashboard .widget.widget-balance .content .balance {
  font-size: 20px;

  .count {
    display: block;
  }
}

.dashboard {
  .widget {
    &.widget-activity {
      .content {
        padding: 0px;
      }
    }
  }
}

#menu-toggle {
  display: inline-block;
  margin-bottom: 20px;
  i {
    color: #262626;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    &:hover {
      color: #403e3e;
    }
  }
}

.inset {
  padding: 15px;
}

}