.register-form {
  position: absolute;
  top: 50%;
  margin-top: -223px;
  width: 100%;
  
  h1 {
    color: #FFF;
    font-size: 50px;
    text-align: center;
    font-family:"Brandon Grot W01 Light";
    margin-bottom: 20px;
    b {
      font-family: "BrandonGrotW01-Regular";
    }
  }

  h2 {
    font-size: 18px;
    font-family:"Brandon Grot W01 Medium";
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 15px;
    font-family:"Brandon Grot W01 Medium";
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 110%;
  }

  p {
    font-size: 14px;
    font-family: "BrandonGrotW01-Regular";
    padding: 0px;
    margin: 0px;
    line-height: 110%;
    a {
      color: #00b0b1;
      font-family:"Brandon Grot W01 Medium";
      text-decoration: underline;
    }
  }

  .row {
    max-width: 620px;
    margin: 0px auto;
  }

  .col-md-6, .col-md-12 {
    background-color: #FFF;
    height: 350px !important;
    p {
      margin-bottom: 10px;
    }
    &.darker {
      background-color: #f5f5f5;
      height: 100%;
    }
    .vertical-middle {
      height: 350px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  .feature {
    text-align: center;
    color: #3a3735;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    font-family: "BrandonGrotW01-Regular";
    padding-bottom: 34px;

    &:first-child {
      font-size: 18px;
      font-family:"Brandon Grot W01 Medium";
      margin-top: 32px;
      border-bottom: 1px solid #e9e5dd;
      p {
        padding-bottom: 17px;
      }
    }
    p {
      padding-top: 15px;
      padding-bottom: 20px;
      margin: 0px;
      line-height: 125%;
    }
    img {
    }
  }

  .step-a {
    form {
      
      &.register {
        padding: 27px;
        padding-left: 8px;
        padding-right: 8px;
      }
      h2 {
        font-size: 30px;
        font-family:"Brandon Grot W01 Medium";
        padding: 0px;
        margin: 0px;
        margin-bottom: 12px;
      }
      label {
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 100%;
        color: #3a3735;
        font-size: 14px;
        font-family: "BrandonGrotW01-Regular";
        letter-spacing: -1px;
      }
      input {
        border: 1px solid #e9e5dd;
        height: 42px;
        border-radius: 0px;
      }
      .select-style {
        padding: 0;
        margin: 0;
        border: 1px solid #e9e5dd;
        width: 120px;
        border-radius: 0px;
        overflow: hidden;
        background-color: #fff;
        background: #fff url("../images/icon-arrow-down.png") no-repeat 90% 50%;

        select {
          padding: 5px 12px;
          color: #555;
          width: 130%;
          height: 40px;
          border: none;
          box-shadow: none;
          background-color: transparent;
          background-image: none;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          &:focus {
            outline: none;
          }
        }
      }
      &.register button {
        position: absolute;
        bottom: -28px;
        left: 50%;
        margin-left: -28px;
        display: block !important;
        border: none;
        width: 56px;
        height: 56px;
        background: url(../images/login-submit.png) no-repeat;
        background-position: 0px -56px;
        margin-top: 30px;
        &:hover {
          background-position: 0px 0px;
        }
      }
    }
  }
}