#p-usermailbox {
	.widget {
		table {
			tr {
				th {
					padding: 10px;
					a {
						color: #00b0b1;
						font-family: "Brandon Grot W01 Bold";
						font-size: 10px;
						text-transform: uppercase;

						&.btn {
							vertical-align: top;
							color: #fff;
							text-decoration: none;
							height: 40px;
							line-height: 40px;
							padding: 0px;
							padding-left: 10px;
							padding-right: 10px;
							border: 1px solid #F5F5F5;
						}
					}
				}
			}
		}
	}
}