$grid-gutter-width: 20px;
$screen-md: 980px;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import 'base';
@import 'fontello';
@import 'home';
@import 'dashboard';
@import 'login';
@import 'statement';
@import 'whitelist';
@import 'usermailbox';
@import 'register';
@import 'setup';

.logo {
  cursor: pointer;
}